<h1>Stupid Coaching</h1>
<div class="user">
  <p><%= params[:question] %></p>
  <p>- You</p>
</div>
<div class="coach">
  <p><%= @message %></p>
  <p>- Your coach</p>
</div>
<a href="/ask">Ask a new question</a>
