// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: Helvetica, sans-serif;
}

.user {
  border-left: 1px solid black;
}

.user p {
  padding: 0 0 0 1em;
}

.user p:last-child {
  font-weight: bold;
}

.coach {
  border-left: 1px solid black;
  background-color: #FFFFE1;
}

.coach p {
  padding: 0 0 0 1em;
}

.coach p:last-child {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(40, 40, 138);
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
